.App {
  margin-left: 2rem;
}

h2 {
  margin: 1rem 0;
}

input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
  margin-top: 1rem;
}

.message {
  padding: 1rem;
  width: 400px;
  border-radius: 5px;
  margin: 1rem 0;
}

.succeed {
  color: green;
  background: lightgray;
  border: green 1px solid;
}

.danger {
  color: red;
  border: red 1px solid;
}
